*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2 {
    margin: 0;
}

.root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.main-area {
    display: flex;
    flex-grow: 1;
}

.main-area__section {
    flex-basis: 50%;
    padding: 2rem 5%;
}

.input {
    width: 100%;
    min-height: 25%;
}